@font-face {
    font-family: 'Inconsolata';
    src: url('./resources/fonts/InconsolataWeb/Inconsolata-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('./resources/fonts/InconsolataWeb/Inconsolata-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('./resources/fonts/InconsolataWeb/Inconsolata-ExtraLight.woff') format('woff');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inconsolata;
    font-weight: 500;
}

main {
    position: relative;
}

nav {
    color: rgb(185, 191, 196);
}

.categories {
    line-height: 1.5rem;
}

#navRight {
    position: fixed;
    text-align: right;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    font-family: 'Inconsolata';
    font-weight: 500;
    z-index: 5;
}

#navRightGallery {
    color: rgb(150, 150, 150);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

li:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.Canvas {
    display: grid;
    height: 100vh;
    width: max-content;
    align-items: flex-start;
    justify-content: space-around;
    grid-template-rows: 0.1fr 1fr;
}

.pageNav {
    position: fixed;
    margin: 0;
    top: 0.5rem;
    left: 1rem;
    font-size: 0.8rem;
    color: rgb(185, 191, 196);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.imgGallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-top: 2rem;
    padding-left: 12rem;
}

img {
    width: 20rem;
    z-index: 1;
    opacity: 1;
    margin: 0 auto;
}


/* The dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: auto;
    overflow: auto;
    z-index: 1;
    /* line-height: 2rem; */
    font-style: italic;
}

.dropdown-content a {
    color: rgb(185, 191, 196);
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f0f0f0;
    color: rgb(150, 150, 150);
}

.show {
    display: block;
}

.about {
    position: absolute;
    color: rgb(185, 191, 196);
    font-size: 0.8rem;
    line-height: 1.5rem;
    top: 12rem;
    left: 12rem;
    width: 150px;
    /* font-style: italic; */
}

.observation {
    position: absolute;
    color: rgb(185, 191, 196);
    font-size: 0.8rem;
    line-height: 1.5rem;
    top: 12rem;
    left: 28rem;
    /* font-style: italic; */
}

.investigation {
    position: absolute;
    color: rgb(185, 191, 196);
    font-size: 0.8rem;
    line-height: 1.5rem;
    top: 12rem;
    left: 43rem;
    /* font-style: italic; */
}

.results {
    text-decoration: underline;
}

#italics {
    font-style: italic;
    color: rgb(150, 150, 150);
}

#boldtext {
    font-style: normal;
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: uppercase;
}

#link {
    text-decoration: underline;
}

#link:hover {
    color: rgb(150, 150, 150);
}